{% extends "base.html" %}
{% load wagtailimages_tags navigation_tags %}

{% block head-extra %}
    <style>
        /* Following two selectors needed for Google map embed */
        #map {
            height: 100%;
        }
    </style>
{% endblock head-extra %}

{% block content %}
    {% image self.image fill-1920x600 as hero_img %}
    <div class="container-fluid hero" style="background-image:url('{{ hero_img.url }}')">
        <div class="hero-gradient-mask"></div>
            <div class="container">
                <div class="row">
                   
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                    {% if page.introduction %}
                        <div class="intro col-md-7"><p>{{ page.introduction }}</p></div>
                    {% endif %}

                 
                    
                  
                    </div>
                </div>
            </div>
        </div>
       


        <div class="container">
            <div class="row">
                <div class="col-md-7 location-body">
                    {{ page.body }}
                </div>
            </div>
        </div>
    </div>

  
{% endblock content %}
